@* @model List<Timesheet> *@

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Client</th>
            <th>Project</th>
            <th>Activity</th>
            <th>Hours</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.Client.UserName</td>
                <td>@item.Project.ProjectName</td>
                <td>@item.Activity.ActivityName</td>
                <td>@item.HoursWorked</td>
                <td>@item.Description</td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TimesheetId" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.TimesheetId" class="btn btn-sm btn-danger">Delete</a>
                </td>

               
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index" asp-controller="Employee">Back to Home</a>
</div>