@model IEnumerable<HrManagementSystem.Models.Department>

@{
    ViewData["Title"] = "ViewDepartment";
}

<h1>ViewDepartment</h1>

<p>

</p>
<table class="table table-bordered table-sm" style="width: 600px; margin: auto;">
    <thead class="thead-dark">
        <tr>
            <th style="width: 40%;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width: 40%;">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <a asp-action="EditDepartment" asp-route-id="@item.Id">Edit</a> |
@*                 <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
 *@                    <a asp-action="DeleteDepartment" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
